/*Notification link*/

/* boxen der bliver displayet*/
.link{
    position:relative;
    /*tekst-farve*/
    color: #ffffff;
    /*kassefarve*/
    background: #33a00c;
    width:70px;
    height:30px;
    border-radius:6px;
    margin-left:1px;
    margin-top:1px;
    text-align:center;
    padding-top:5px;
    font-family: 'Montserrat', sans-serif;
    font-size:1.1em;
    cursor:pointer;
}

/*Notification Info-Box outer frame*/
.arrow{
    position:relative;
    left: 10px;
    content:"";
    margin-top:10px;
    margin-left:40px;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-bottom:10px solid transparent;
    margin-top:5px;
}

.drop{
    position:relative;
    left: -40px;
    content:"";
    margin-top:10px;
    margin-left:10px;
    /*margin-top:10px;*/
    width:0px;
    height:0px;
    border-radius:50px;
    box-shadow:0px 0px 0px black;
    z-index: 1000;
    overflow-x: visible;
    overflow-y: visible;
}

/*Animationen for billedet*/

.pic {
    background: grey;
    width:0px;
    height:0px;
    margin-top:60px;
    margin-left:60px;
}

.drop .line{
    position:absolute;
    background:grey;
    height:8px;
    margin-top:10px;
    margin-left:100px;
    border-radius:0px;
}
/*End Notification Info-Box outer frame*/


/*On-Hover Animation -- kassen med N i NÅR man hovere*/
.link:hover{
    width:71px;
    height:31px;
    margin-left:1px;
    margin-top:1px;
}

.link:hover .arrow{
    position:absolute;
    width:0px;
    height:0px;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-bottom:10px solid white;
    margin-top:10px;
    margin-left:10px;
}

.link:hover .drop{
    position:absolute;
    background: #ffffff;
    width:200px;
    height:200px;
    margin-top:10px;
    margin-left:10px;
    border-radius:5px;
    box-shadow:1px 1px 10px black;
}

/*billedet*/
.link:hover .pic {
    background:#DEDEDE;
    width:80px;
    height:80px;
    margin-top:10px;
    margin-left:10px;
    border-radius:5px;
    transition: .5s ease all;
}

/* lines overrider ALLE linjer*/
.link:hover .drop .line{
    position:absolute;
    /*background: #c61e1e;*/
    height:8px;
    margin-left:100px;
    border-radius:4px;
    transition: .5s ease all;
}

/* de enkelte linjer*/

.link:hover .one{
    margin-top:-70px;
    width:40px;
    background: #e8a41d;
    transition: .5s ease all;
}

.link:hover .two{
    margin-top:-50px;
    width:90px;
    background: #6fce1d;
    transition: .5s ease all;
}

.link:hover .three{
    margin-top:-30px;
    width:75px;
    background:#DEDEDE;
    transition: .5s ease all;
}

.link:hover .four{
    margin-top:-10px;
    width:50px;
    background:#DEDEDE;
    transition: .5s ease all;
}

.link:hover .five{
    margin-top:10px;
    width:50px;
    background:#DEDEDE;
    transition: .5s ease all;
}