/* CSS styling fil for alt det HTML kode i "DropDownMenu.html" */

/* De globale CSS værdier som bliver givet til "body" */
body {
    width: 350px;
    height: auto;
    margin: 0;
    overflow: scroll;
}

/* De globale CSS værdier for alle ting i header */
header {
    height: 55px;
    text-align: center;
    background: #ffffff;
}

/* De globale CSS værdier for alle img i header */
header img {
    height: 50px;
}

/* De globale værdier for alle img */
img {
    vertical-align: middle;
}

/* De globale værdier for main */
main {
    height: auto;
}

/* De globale værdier for h4 tekst som bliver brugt i main */
main h4 {
    position: relative;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

/* De globale værdier for alle linjer */
hr {
     display: block;
     width: 100%;
     border: 0;
     border-top: 1px solid #c4c4c4;
     padding: 0;
}

/* De globaler værdier for UL (unordered list) */
ul {
    list-style: disc;
}

/* This is the CSS styling for the scrollbar */
/* De globale CSS værdier som bliver givet til body med henblik på -webkit-scrollbar */
body::-webkit-scrollbar {
    width: 8px;
}

/* De globale CSS værdier som bliver givet til body med henblik på -webkit-scrollbar-track */
body::-webkit-scrollbar-track {
    background: #ffffff;
}

/* De globale CSS værdier som bliver givet til body med henblik på -webkit-scrollbar-thumb */
body::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 8px;
}

/* De globale CSS værdier som bliver givet til body med henblik på -webkit-scrollbar-thumb:hover */
body::-webkit-scrollbar-thumb:hover {
    background: #555555;
}

/* This is for the CSS styling for the tabs */
/* Specific CSS styling for the class .accordion */
.accordion {
    position: relative;
    background-color: #ffffff;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    font-weight: bolder;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #f4f4f4;
}

/* CSS styling for the accordion after it is clicked or activated */
.accordion:after {
    content: '\002B';       /* The code for the + icon */
    color: #777;        /* This code changes the font colour of the title in each accordion panel */
    font-weight: bolder;
    float: left;
    margin-left: 5px;
    margin-right: 10px;
}

.active:after {
    content: "\2212";       /* the code for the - icon */
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    font-size: 13px;
    padding: 0 18px;
    background-color: #f4f4f4;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}