body {
    width: 350px;
    height: auto;
    margin: 0;
    overflow: scroll;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: #ffffff;
}

body::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 8px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #555555;
}

header {
    height: 55px;
    text-align: center;
    background: #ffffff;
}

header img {
    height: 50px;
}

header h1 {
}

img {
    vertical-align: middle;
}

main {
    height: auto;
}

main h4 {
    position: relative;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

footer img {
    padding: 8px;
    width: 30%;
    height: auto;
}

footer {
    height: 35px;
    background: #f2f2f2;
}

hr {
     display: block;
     width: 100%;
     border: 0;
     border-top: 1px solid #c4c4c4;
     padding: 0;
}

ul {
    list-style: disc;
}

/* This is the CSS styling for the scrollbar */


/* This is the CSS styling for the disabled/enabled toggler */
 .toggle input {
     display: none;
 }

 .toggle {
     font-size: small;
     top: 6px;
     left: 5px;
     position: relative;
     display: inline-block;
     width:  40px;
     height: 24px;
 }

 .slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background: #d0d5d9;
     border: 0px;
     border-radius: 20px;
     transition: all 0.4s;
 }

 .slider:before {
     position: absolute;
     content: "";
     width: 20px;
     height: 20px;
     left: 2px;
     top: 2px;
     bottom: 2px;
     background-color: #ffffff;
     border-radius: 30px;
     transition: all 0.4s;
 }

 .slider:after {
     position: absolute;
     content: "Disabled";
     top: 2px;
     left: 45px;
     color: #000000;
 }

 input:checked + .slider{
     background-color: #77b06d;
 }

 input:checked + .slider:before{
     transform: translateX(15px);
 }

 input:checked + .slider:after {
     content: "Enabled";
     left: 45px;
 }

 /* This is for the CSS styling for the tabs */
.accordion {

    position: relative;
    background-color: #ffffff;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #f4f4f4;
}

.accordion:after {
    content: '\002B';       /* The code for the + icon */
    color: #777;
    font-weight: bold;
    float: left;
    margin-left: 5px;
    margin-right: 10px;
}

.active:after {
    content: "\2212";       /* the code for the - icon */
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    font-size: 13px;
    padding: 0 18px;
    background-color: #f4f4f4;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}