/* ændrer på baren */
.barAttributes {
    position: absolute;

    /*background: #6fce1d; /* farve på div element, skal fjernes senere, fungerer som hitbox */

    /* width og height på hit-boxen */
    height: 15px;
    width: 140px;


    /* mellemrum fra toppen og ned*/
    margin-top: 10px;

    /* mellemru, i venstre side */
    margin-left: 0px;

    cursor: pointer;
}
.showPointer {
    position: absolute;

    /* placerer billedet i midten så der er 2px på hver side */
    margin-top: 0px;

    box-shadow:0px 0px 0px black;
    height: 8px;
    width: 100%;

}


/* attributes til billedet er bare alignet med div elementet */
.showBar {
    position: absolute;

    /* placerer billedet i midten så der er 2px på hver side */
    margin-top: 5px;

    box-shadow:0px 0px 0px black;
    height: 5px;
    width: 100%;


    /* laver en border der afrunder hjørner*/
    border-radius: 5px;
}

.triangle-left {
    width: 0;
    height: 0;
    position: absolute;
    margin-top: -2px;
    left: 140px;
    border-top: 0px solid transparent;
    border-right: 0px solid #959595;
    border-bottom: 0px solid transparent;
}


/* laver en box med size 0x0 */
.textBox {
    position: absolute;
    margin-top: 0px;
    top: -45px;

    /* mellemrum tilvenstre for. højere left-værdi = placerer boksen mere til venstre */
    left: 160px;


    font-size: 0em;

    box-shadow:0px 0px 0px black;
    float: left;
    width: 0px;
    height: 0px;
}

.hoverBar{
    position: absolute;
width: 0px;
    height: 0px;
}


.barAttributes:hover .showBar {
    /* skygge på baren når man hover + farven*/
    box-shadow:1px 1px 10px #0025b3;
}




.barAttributes:hover .triangle-left {
    width: 0;
    height: 0;
    position: absolute;
    margin-top: -2px;
    left: 140px;
    border-top: 10px solid transparent;
    border-right: 20px solid #c4c4c4;
    border-bottom: 10px solid transparent;
}


/* ændrer textBox når der bliver hoveret over bar */
.barAttributes:hover .textBox {
    /*width og height af textbox */
    width: 300px;
    height: 200px;

    background: #d9d9d9;

    /*tekst attributes*/
    color: black;
    font-size: 1em;
    font-weight: bold;
    font-family: "Momondo font", "Arial Black";
    box-shadow:1px 1px 10px black;

    /* laver en border med afrundede kanter*/
    border-radius: 5px;
    z-index: 1001;
}

@font-face {
    font-family: "Momondo font";
    font-style: normal;
    font-weight: 700;
    src: url('chrome-extension://hehfejbelgaicjabkhbcnegpneadbkph/font/CeraPro-Bold.ttf');
}


.barAttributes:hover .textBox .CO2-print {
    font-family: "Momondo font", "Arial";
    font-weight: bold;
    font-size: large;
    color: #e8a41d;
    position: absolute;
    border-radius: 5px;
    margin-top: 0px;
    margin-left: 5px;
    width: auto;
    height: auto;
}

.barAttributes:hover .textBox .textFormat {
    font-family: "Momondo font", "Arial";
    color: #000000;
    position: absolute;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    width: auto;
    height: auto;
}

.barAttributes:hover .textBox .hoverBar{
    width: 100px;
    height: 5px;
    margin-top: 20px;
    margin-left: 10px;

}

