/* Ændrer på baren som bliver vist ved selve rejsen */
.barAttributes {
    position: absolute;


    /* width og height på hit-boxen */
    height: 15px;
    width: 140px;

    /* mellemrum fra toppen og ned*/
    margin-top: 20px;

    /* mellemru, i venstre side */
    margin-left: 0px;

    cursor: pointer;
}

/* Ændrer på informations ikonet vist ved siden af baren */
.informationIcon {
    position: absolute;
    height: auto;
    width: 15px;
    z-index: 100;
    left: 97%;
    top: 14px;
}

/* Ændrer på den pointer som er vist på baren ved rejsen */
.showPointer {
    position: absolute;
    z-index: 100;
    top: -4px;


    margin-top: 0;
    margin-bottom: 30px;
    padding-bottom: 5px;
    margin-left: auto;

    display: block;
    margin-right: 20px;

    left:0%;

    box-shadow:0px 0px 0px black;
    height: 18px;
    width: 10px;

}

/* Ændrer på den pointer som er vist på baren inde i selve hover menuen */
.showPointerInner {
    position: absolute;
    z-index: 100;
    left: 0%;

    margin-top: 3%;
    box-shadow:0px 0px 0px black;
    height: 30px;
    width: 15px;
}


/* attributes til billedet er bare alignet med div elementet */
.showBar {
    position: absolute;

    /* placerer billedet i midten så der er 2px på hver side */
    margin-top: 5px;

    box-shadow:0px 0px 0px black;
    height: 5px;
    width: 105%;

    /* laver en border der afrunder hjørner*/
    border-radius: 5px;
}

/* Diverse CSS stylings for baren inde på hover menuen */
.showBarInside {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-top: 8%;
    padding-bottom: 2%;

}

.triangle-left {
    width: 0;
    height: 0;
    position: absolute;
    margin-top: -2px;
    left: 140px;
    border-top: 0px solid transparent;
    border-right: 0px solid #959595;
    border-bottom: 0px solid transparent;
}


/* laver en box med size 0x0 */
.textBox {
    display: none;

    /* mellemrum tilvenstre for. højere left-værdi = placerer boksen mere til venstre */
    left: 165px;

    font-size: 0em;

    float: left;
    width: 0px;
    height: 0px;
}

.hoverBar{
    position: absolute;
    width: 0px;
    height: 0px;
}

/* Giver en shadow til selve baren på rejsen når man hover over den */
.barAttributes:hover .showBar {
    /* skygge på baren når man hover + farven*/
    box-shadow:1px 1px 10px #0025b3;
}


.barAttributes:hover .triangle-left {
    width: 0;
    height: 0;
    position: absolute;
    z-index: 100;
    margin-top: -2px;
    left: 145px;
    border-top: 10px solid transparent;
    border-right: 20px solid #d9d9d9;
    border-bottom: 10px solid transparent;
}


/* CSS stylings for den boks som bliver vist når man aktivere hover menuen */
.barAttributes:hover .textBox {
    margin-top: 0px;
    top: -55px;
    display: block;
    box-sizing: border-box;
    width: 520px;
    height: 380px;
    background: #d9d9d9;


    /* laver en border med afrundede kanter*/
    border-radius: 5px;
    z-index: 1001;
}


.barAttributes:hover #textFormat {
    font-size: x-large;
    text-align: center;
    font-weight: bolder;
    padding-top: 15px;
    padding-bottom: 10px;
    margin: auto;
}

/* CSS styling for diverse ting der bliver anvendt på CO2 tallet i titlen i hover menuen */
.barAttributes:hover .CO2-print {
     font-size: 40px;
     color: #de1810;
}

/* CSS styling for minimums CO2 tallet i hover menuen  */
.barAttributes:hover .sortedMin {
    font-size: 20px;
    color: #339A70;
    font-weight: bold;
}

/* CSS styling for maximum CO2 tallet i hover menuen  */
.barAttributes:hover .sortedMax {
    font-size: 20px;
    color: #de1810;
    font-weight: bold;
}

/* CSS styling for den brødtekst som står under titlen og over baren i hover menuen */
.barAttributes:hover .textBoxDescription{
    color: black;
    font-size: medium;
    display: block;
    font-weight: lighter;
    padding-top: 0px;
    padding-bottom: 10px;
    width: 90%;
    margin: auto;
}

/* CSS styling for den tekst som beskriver den mest miljøvenlige rejse i hover menuen */
.barAttributes:hover .leftColumn{
    color: black;
    font-size: small;
    display: inline-block;
    font-weight: lighter;
    padding-left: 5%;
    float: left;
}

/* CSS styling for den tekst som beskriver den mindst miljøvenlige rejse i hover menuen */
.barAttributes:hover .rightColumn{
    color: black;
    font-size: small;
    display: inline-block;
    font-weight: lighter;
    padding-right: 5%;
    float: right;
}

/* CSS styling for den horisontale linje inde i hover menuen, den som er under titlen */
.barAttributes:hover hr {
    display: block;
    align-content: center;
    width: 90%;
    border: 0;
    border-top: 2px solid #ccc;
    height: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
}

.barAttributes:hover .bottomLine {
    display: block;
    align-content: center;
    width: 90%;
    border: 0;
    border-top: 2px solid #ccc;
    height: 2px;
    padding-top: 10px;
    padding-bottom: 0;
    margin-top: 70px;
}

.barAttributes:hover .bottomText {
    color: black;
    font-size: small;
    display: block;
    font-weight: lighter;
    padding-right: 5%;
    text-align: center;
    padding-top: 0;
}

.barAttributes:hover .boldText{
    color: black;
    font-size: medium;
    display: block;
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 10px;
    width: 90%;
    margin: auto;
}

#bottomIcon {
    position: absolute;
    height: 30px;
    width: auto;
    left: 440px;
    bottom: 5px;
    padding-bottom: 0;
    margin-bottom: 0;
}