/* ændrer på baren */

.barAttributes {
    position: absolute;


    /* width og height på hit-boxen */
    height: 15px;
    width: 140px;


    /* mellemrum fra toppen og ned*/
    margin-top: 10px;

    /* mellemru, i venstre side */
    margin-left: 0px;

    cursor: pointer;
}

/* attributes til billedet er bare alignet med div elementet */
.showBar {
    position: absolute;

    /* placerer billedet i midten så der er 2px på hver side */
    margin-top: 5px;

    box-shadow:0px 0px 0px black;
    height: 5px;
    width: 100%;

    /* laver en border der afrunder hjørner*/
    border-radius: 5px;
}

.showBarInside {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-top: 15%;
    padding-bottom: 2%;

}

.triangle-left {
    width: 0;
    height: 0;
    position: absolute;
    margin-top: -2px;
    left: 140px;
    border-top: 0px solid transparent;
    border-right: 0px solid #959595;
    border-bottom: 0px solid transparent;
}


/* laver en box med size 0x0 */
.textBox {
    display: none;

    /* mellemrum tilvenstre for. højere left-værdi = placerer boksen mere til venstre */
    left: 160px;

    font-size: 0em;

    float: left;
    width: 0px;
    height: 0px;
}

.hoverBar{
    position: absolute;
    width: 0px;
    height: 0px;
}


.barAttributes:hover .showBar {
    /* skygge på baren når man hover + farven*/
    box-shadow:1px 1px 10px #0025b3;
}




.barAttributes:hover .triangle-left {
    width: 0;
    height: 0;
    position: absolute;
    margin-top: -2px;
    left: 140px;
    border-top: 10px solid transparent;
    border-right: 20px solid #d9d9d9;
    border-bottom: 10px solid transparent;
}


/* ændrer textBox når der bliver hoveret over bar */
.barAttributes:hover .textBox {
    margin-top: 0px;
    top: -45px;
    display: block;
    box-sizing: border-box;
    width: 500px;
    height: 350px;
    background: #d9d9d9;


    /* laver en border med afrundede kanter*/
    border-radius: 5px;
    z-index: 1001;
}


.barAttributes:hover #textFormat {

    font-size: x-large;
    text-align: center;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 10px;
    margin: auto;

}
.barAttributes:hover .CO2-print {

     font-size: 40px;
     color: #e8a41d;
 }

.barAttributes:hover .textBoxDescription{
    color: black;
    font-size: small;
    display: block;
    font-weight: lighter;
    padding-top: 0px;
    padding-bottom: 10px;
    width: 90%;
    margin: auto;
}
.barAttributes:hover .leftColumn{
    color: black;
    font-size: small;
    display: inline-block;
    font-weight: lighter;
    padding-left: 5%;
    float: left;

}
.barAttributes:hover .rightColumn{
    color: black;
    font-size: small;
    display: inline-block;
    font-weight: lighter;
    padding-right: 5%;
    float: right;
}

/*.barAttributes:hover .textBox .hoverBar{
    width: 100px;
    height: 5px;
    margin-top: 20px;
    margin-left: 10px;
}*/

.barAttributes:hover hr {
    display: block;
    align-content: center;
    width: 90%;
    border: 0;
    border-top: 2px solid #ccc;
    height: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
}

